.sec_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 14px;
  padding-bottom: 14px;
  user-select: none;

  .burger_icon {
    cursor: pointer;
    border: 0.8px solid #11292f;
    width: 48px;
    height: 48px;
    display: flex;
    border-radius: 50%;
    min-width: inherit !important;

    img {
      margin: auto;
    }

    svg {
      path {
        stroke: var(--main-white-color);
      }
    }

    &:hover {
      background-color: var(--main-white-color);

      svg {

        path,
        line {
          stroke: rgba(17, 41, 47, 1) !important;
        }
      }
    }
  }

  .lang_menu_container {
    left: 0%;

    // left: 55px;
    @media screen and (max-width: 992px) {
      left: 16px;
    }

    border-radius: 10px;
    width: 200px !important;

    .link {
      padding-right: 0 !important;
      justify-content: center !important;
    }
  }

  .nav_menu_container {
    right: 0%;
  }

  .lang_menu_container,
  .nav_menu_container {
    position: absolute;
    top: 90px;
    height: 100vh;
    z-index: -122;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: fit-content;
    background-color: #e6ddc6;
    border-radius: 5px 0px 0px 5px;
    overflow: hidden;
    min-width: 200px;
    width: 179px;
    @media screen and (max-width: 450px) {
      top: 80px;
    }

    @media screen and (min-width: 992px) {
      // width: 21vw;
      width: 14vw;
    }

    .links {
      width: 100%;

      .link {
        // padding-right: 56px;
        // padding-bottom: 34px;
        // padding-top: 34px;
        padding: 16px 26px 16px 0px;
        text-align: center;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        width: 100%;
        display: flex !important;
        align-items: center;
        justify-content: flex-end;
        flex-direction: row-reverse;

        p {
          color: var(--main-blue-color);
          font-family: var(--effra-font);
          font-size: 18px;
          font-weight: 500;
          letter-spacing: 0em;
          text-align: center;

          @media screen and (min-width: 450px) {
            transition: all 0.3s ease-in-out;
          }

          @media screen and (max-width: 550px) {
            font-size: 16px;
          }

          display: block;
        }

        @media screen and (min-width: 992px) {
          &:hover {
            p {
              color: var(--main-white-color);
            }

            background-color: #daceaf;
          }
        }

        &.active {
          p {
            color: var(--main-white-color);
          }

          background-color: #daceaf;
        }

        .icon_container {
          margin-left: 16px;

          img {
            width: 20px;
            height: 20px;
          }

          svg {
            width: 20px;
            height: 20px;
            color: #713540;

            path {
              stroke: #713540;
            }

            line {
              stroke: #713540;
            }
          }

          @media screen and (max-width: 600px) {
            svg {
              width: 16px;
              height: 16px;
            }

            img {
              width: 16px;
              height: 16px;
            }
          }
        }

        &:not(:last-child) {
          border-bottom: 1px solid var(--main-blue-color);
        }
      }
    }

    .soical_links {
      margin-top: 40px;
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        width: 30px;
        height: 30px;
        border-radius: 75px;
        background-color: var(--main-red-color);
        display: flex;
        margin-right: 6px;

        svg {
          margin: auto;
          width: 14.12px;
          height: 10px;
        }
      }
    }
  }

  .lang_menu_container {
    width: 90px !important;
    border-bottom: 2px solid var(--main-blue-color);
    // border-radius: 5px;
    border-radius: 5px 5px 0px 0px;

    p {
      border-bottom: 1.4px solid var(--main-blue-color);
      border-radius: 2px;
    }
  }

  .logo {
    cursor: pointer;
    margin-right: auto !important;
    margin-left: auto;

    img {
      width: auto;
      height: 40px;
      padding-left: 10px;
      padding-right: 10px;
      object-fit: contain;

      @media screen and (min-width: 450px) {
        height: 60px;
      }

      @media screen and (min-width: 750px) {
        height: 80px;
      }
    }
  }

  .logos_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;

    img {
      object-fit: contain;
    }
  }

  .lang {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.8px solid #11292f;
    width: 48px;
    height: 48px;
    display: flex;
    border-radius: 50%;
    min-width: inherit !important;

    @media screen and (max-width: 992px) {
      width: 40px;
      height: 40px;
    }

    color: #ffffff;
    &:hover {
      background-color: #ffffff !important;
      color: var(--main-blue-color);
    }

    font-weight: 400;

    transition: all 0.3s ease-in-out;

  }

  // Groups
  .burger_icon,
  .lang {
    cursor: pointer;

    @media screen and (max-width: 992px) {
      width: 40px;
      height: 40px;
    }

    img,
    svg {
      margin: auto;
    }
  }
}

// En
.sec_container[dir="ltr"] {
  .lang_menu_container {
    left: unset !important;
    right: 0px !important;
    border-radius: 5px 0px 0px 5px;

    .link {
      // padding: 0 !important;
    }
  }

  .nav_menu_container {
    left: 0%;
    border-radius: 0px 5px 5px 0px;
  }

  .lang_menu_container,
  .nav_menu_container {
    .links {
      .link {
        padding: 10px 0px !important;

        p {
          @media screen and (min-width: 450px) {
            transition: all 0.3s ease-in-out;
          }

          display: block;
        }

        @media screen and (max-width: 992px) {
          padding-left: 5px;
        }

        .icon_container {
          margin-right: 16px;
        }
      }
    }
  }
}