header#cities {
  margin-top: 60px;
  margin-bottom: 37px;
  .sec_container {
    background-color: #ffffff;
    display: flex;
    box-shadow: 0px 21px 35px 0px #00000008;
    border-radius: 10px;
    min-height: 421px;
    justify-content: space-between;
    @media screen and (max-width: 992px) {
      flex-direction: column;
      height: fit-content;
      border-radius: 20px 10px 10px 10px !important;
      padding-left: 0;
    }

    .img_container {
      @media screen and (min-width: 993px) {
        width: 30%;
      }
      position: relative;
      .img_box {
        width: 100%;
        object-fit: cover;
        border-radius: 10px 10px 0px 0px !important;

        @media screen and (min-width: 993px) {
          border-radius: 0px 10px 10px 0px !important;
          top: 0;
          right: 0;
          position: absolute;
          height: 100%;
          border-radius: 10px;
        }
      }
    }

    .text_container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 30px;
      margin-top: 24px;
      margin-bottom: 30px;
      padding-inline-end: 10px;
      padding-inline-start: 10px;
      @media screen and (min-width: 993px) {
        width: calc(70% - 40px);
        padding-inline-end: 40px;
        padding-inline-start: 0px;
      }
      .title {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        @media screen and (max-width: 992px) {
          flex-direction: column;
          justify-content: center;
        }

        h3 {
          font-family: var(--effra-font);
          font-size: 30px !important;
          font-weight: 700;
          line-height: 57px;
          margin-left: 12px;
        }

        p {
          height: 28px;
          padding: 2.5px 12px 6px 12px;
          border-radius: 16px;
          background: #f8a3401a;
          @media screen and (max-width: 992px) {
            text-align: center;
          }

          font-family: var(--effra-font);
          font-size: 16px;
          font-weight: 400;
          color: #f8a340;
        }
      }
      .poet_info {
        font-family: var(--effra-font);
        .head {
          display: flex;
          align-items: center;
          gap: 10px;
          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: contain;
          }
          p {
            font-size: 18px;
            font-weight: 400;
            line-height: 27px;
            text-align: justify;
            font-weight: 700;
          }
        }
        .poetry_parts {
          margin-top: 20px;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          justify-content: center;
          column-gap: 40px;
          row-gap: 20px;
          color: var(--main-blue-color) !important;
          font-size: 18px;
          font-weight: 700;
          p {
            width: max-content;
          }
        }
      }
      .desc {
        margin-top: 10px;
        p {
          font-family: var(--effra-font);
          font-size: 18px;
          font-weight: 400;
          line-height: 27px;
          text-align: justify;
          @media screen and (max-width: 992px) {
            padding: 16px;

            br {
              display: none;
            }
          }
        }
      }
    }
  }
}

// En Styles
header#cities[dir="ltr"] {
  .sec_container {
    padding-left: 0px;
    padding-right: 56px;

    @media screen and (max-width: 992px) {
      padding-right: 0;
    }

    .img_container {
      position: relative;
      margin-left: 0px;
      margin-right: 47px;

      @media screen and (max-width: 992px) {
        margin-right: 0;
      }

      .text_container {
        ul {
          li {
            padding: 0;
            margin: 0;
            list-style: none;
            padding: 24px 30px;
            position: relative;

            display: flex;
            align-items: center;
            justify-content: center;

            &:not(:last-child):after {
              content: "";
              position: absolute;
              top: 50%;
              left: 0;
              transform: translate(0, -50%);
              z-index: 22222;
              background-color: var(--main-white-color);
              width: 1px;
              height: 12px;
            }

            a {
              color: var(--main-white-color);
              font-family: var(--effra-font);
              font-size: 12px;
              font-weight: 700;
              line-height: 23px;
              text-align: right;
            }
          }
        }
      }

      .img_box {
        transform: scaleX(-1);
      }
    }

    .text_container {
      .title {
        h3 {
          font-family: var(--effra-font);
          font-size: 30px !important;
          font-weight: 700;
          margin-left: 0px;
          margin-right: 12px;
        }

        p {
          @media screen and (max-width: 992px) {
            text-align: center;
          }
        }
      }

      .desc {
        margin-top: 10px;
        p {
          font-family: var(--effra-font);
          text-align: justify;
        }
      }
    }
  }
}
