@tailwind base;
a,
button,
input {
  background: transparent;
}
a,
button {
  appearance: none;
}
img,
video {
  max-width: none;
  height: auto;
}
@tailwind components;
@tailwind utilities;
* {
  @apply outline-none;
}
:root {
  --background: 49 59% 95%;
  --foreground: 0 0% 0%; 
  --card: 34 54% 97%;
  --card-foreground: 189 11% 34%;
  --popover: 0 0% 100%;
  --popover-foreground: 240 10% 3.9%;
  --primary: 25 92% 62%;
  --primary-foreground: 0 0% 0%;
  --secondary: 349 36% 33%;
  --secondary-foreground: 0 0% 100%;
  --muted: 240 4.8% 86%;
  --muted-foreground: 240 3.8% 25%;
  --accent: 240 4.8% 90%;
  --accent-foreground: 240 5.9% 10%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 5.9% 90%;
  --input: 240 5.9% 90%;
  --ring: 240 5.9% 10%;
  --radius: 0.75rem;
}

@supports (scrollbar-width: auto) and (not selector(::-webkit-scrollbar)) {
  * {
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--border)) transparent;
  }
}
@supports (selector(::-webkit-scrollbar)) {
  ::-webkit-scrollbar,
  .scroll::-webkit-scrollbar {
    width: 0.75rem;
    height: 0.75rem;
  }
  ::-webkit-scrollbar-button,
  .scroll::-webkit-scrollbar-button {
    display: none;
  }
  ::-webkit-scrollbar-track,
  .scroll::-webkit-scrollbar-track {
    background: hsl(var(--background));
  }

  ::-webkit-scrollbar-thumb,
  .scroll::-webkit-scrollbar-thumb {
    background: hsl(var(--border));
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover,
  .scroll::-webkit-scrollbar-thumb:hover {
    background: hsl(var(--foreground) / 0.5);
  }
}
.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  scrollbar-color: transparent transparent;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* no changes */
html,
body {
  overscroll-behavior: none;
  scroll-behavior: smooth;
  position: relative;
  @apply !bg-background text-foreground;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: clip;
  animation: fadeIn 0.8s ease-in-out;
}
.fade-in {
  animation: fadeIn 0.4s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0.01;
  }
  to {
    opacity: 1;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  visibility: hidden;
  pointer-events: none;
  display: none;
}
input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}
html[dir="rtl"] input::placeholder {
  text-align: right;
}
html[dir="rtl"] input[dir="ltr"]::placeholder {
  text-align: right;
}

.noSelect,
a,
button,
img,
label,
svg {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

*:focus-visible {
  outline-offset: 2px;
  outline: 2px solid;
  outline-color: hsl(var(--secondary)) !important;
  transition: 0.3s;
}

img {
  color: transparent;
}
